 <div class="row">
  <div class="col-md-5">
    <h1>Login</h1>

    <form [formGroup] = "loginForm" (ngSubmit)="login()">
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" class="form-control" id="email" formControlName="email">
        <div *ngIf="isInvalidForm('email')"
               class="alert alert-danger">
          <div *ngIf="isRequired('email')">
            email if required.
          </div>
          <div *ngIf="loginForm.controls['email'].errors.pattern">
            must be valid email format!
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" formControlName="password">
      </div>
      <button [disabled]="!loginForm.valid" type="submit" class="btn btn-danger">Submit</button>
    </form>
    <div *ngIf="errors.length > 0" class="alert alert-danger">
      <a *ngFor="let error of errors">
        {{error.detail}}
      </a>
    </div>
  </div>
</div> 
