<h2 mat-dialog-title> Product Detail </h2>
<button class="mat-raised-button"  id="closebtn" (click)="close()">Close</button>
<table>
  <tr>
    <th>Album ID</th>
    <th>Id</th>
    <th>Title</th>
    <th>Image</th>
  </tr>
  <tr *ngFor="let Product of ProductDetail">
    <td>{{Product.albumId}}</td>
    <td>{{Product.id}}</td>
    <td>{{Product.title}}</td>
    <td><img src={{Product.thumbnailUrl}} /></td>
    <button class="mat-raised-button" (click)="cartProduct(Product)">Add to cart</button>

  </tr>
</table>
